<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="2"></ion-col>
      <ion-col size="8">
          <div id="logo">
            <div id="logo-placeholder">Logo: 100px x 100px</div>
          </div>
          <ion-input placeholder="Email"></ion-input>
          <ion-input placeholder="Password"></ion-input>
          <ion-button id="login-button" expand="full">
            login
          </ion-button>
          <a [routerLink]="['/register']">Sign Up</a>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
