ion-content {
  --padding-top: 0px;
}

ion-button {
  position: fixed;
  bottom: 30px;
  width: 80%;
  left: 9%;
}

ion-item {
  --min-height: 75px;
  --border-color: rgba(0,0,0,0.1);
}

.recipe-counter{
  font-size: 0.7em;
  position: relative;
  right: 30px;
  opacity: 0.3;
}