.day-pagnation-inactive{
  font-size: 0.8em;
  text-align: center;
  opacity: 0.5;
}
.day-pagnation-active{
  font-size: 0.8em;
  text-align: center;
  opacity: 1;
  color: blue;
  font-weight: 600; 
}

ion-slide {
  height: 250px;
  width: 100%;
  background: lightgrey;
}

.pagnation-wrapper{
  margin-top: 30px;
}

.meal-day-of-the-week {
  height: 55vh;
  background: rgba(0, 0, 0, 0.02);
  padding: 10px;
}
