<ion-header>
  <ion-toolbar text-center>
    <p style="font-size: 0.8em;">
    {{ currentDate }}
    </p>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="pagnation-wrapper">
          <ion-col size="0.75"></ion-col>
          <ion-col #sunday size="1.5" [ngClass]="{
            'day-pagnation-active' : !sunday,
            'day-pagnation-inactive' : sunday
          }">
            S
          </ion-col>
          <ion-col #monday size="1.5" [ngClass]="{
            'day-pagnation-active' : monday,
            'day-pagnation-inactive' : !monday
          }">
             M
          </ion-col>
          <ion-col #tuesday size="1.5" [ngClass]="{
            'day-pagnation-active' : tuesday,
            'day-pagnation-inactive' : !tuesday
          }">
            T
          </ion-col>
          <ion-col #wednesday size="1.5" [ngClass]="{
            'day-pagnation-active' : wednesday,
            'day-pagnation-inactive' : !wednesday
          }">
            W
          </ion-col>
          <ion-col #thursday size="1.5" [ngClass]="{
            'day-pagnation-active' : thursday,
            'day-pagnation-inactive' : !thursday
          }">
            Th
          </ion-col>
          <ion-col #friday size="1.5" [ngClass]="{
            'day-pagnation-active' : friday,
            'day-pagnation-inactive' : !friday
          }">
            F
          </ion-col>
          <ion-col #saturday size="1.5" [ngClass]="{
            'day-pagnation-active' : saturday,
            'day-pagnation-inactive' : !saturday
          }">
            Sat
          </ion-col>
          <ion-col size="0.75"></ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col size="0.75"></ion-col>
        <ion-col size="10.5">
          <ion-slides #slides (ionSlideDidChange)="getIndex()">
            <ion-slide>
              <h1>Sunday</h1>
            </ion-slide>
            <ion-slide>
              <h1>Monday</h1>
            </ion-slide>
            <ion-slide>
              <h1>Tuesday</h1>
            </ion-slide>
            <ion-slide>
              <h1>Wednesday</h1>
            </ion-slide>
            <ion-slide>
              <h1>Thursday</h1>
            </ion-slide>
            <ion-slide>
              <h1>Friday</h1>
            </ion-slide>
            <ion-slide>
              <h1>Saturday</h1>
            </ion-slide>
          </ion-slides>
          <ion-button (click)="onClick()">
            Click me
          </ion-button>
        </ion-col>
        <ion-col size="0.75"></ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
